<div class="view portfolio-view">
	<div class="view-content">
		<div class="view-title">
			<h3>This is My</h3>
			<h1>Portfolio</h1>
		</div>
		<div class="view-description">
			<p class="view-text">
				Lorem Ipsum has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has <a>survived</a> not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
			</p>
			<p class="view-text">
				Lorem Ipsum has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type <a>specimen</a> book. It has survived not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
			</p>
		</div>
		<p class="bold mt2 mb0">MY RECENT WORK</p>
	</div>
	<portfolio-item *ngFor="let item of portfolioItems" [properties]="item"></portfolio-item>
</div>
