<div class="view portfolio-view">
	<div class="view-content">
		<p class="view-greeting">This is My</p>
		<h1 class="view-title">Portfolio</h1>
		
		<div class="section view-description">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<p class="view-text">
							<b>Portfolio</b> contains few projects from my workplace <a>Almerin</a> and others are my own projects done by myself or in co-operation with few devlopers located in Jyväskylä. Feel free to browse my latest projects and see what I'm capable to do. All of my projects aren't here for a reason but I'm available to talk about what kind of technologies I've used. 
					</div>
				</div>
			</div>
		</div>
		<div class="subtitle">
			<h3 class="fancy"><span>My Recent Work</span></h3>
		</div>
</div>

<div class="portfolio-items">
	<div *ngFor="let item of portfolioItems" class="portfolio-item">
			<portfolio-item [properties]="item"></portfolio-item>
		</div>
	</div>
</div>
