<div class="view portfolio-view">
	<div class="view-content">
		<p class="view-greeting">This is My</p>
		<h1 class="view-title">Portfolio</h1>
		
		<div class="section view-description">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-sm-6">
						<p class="view-text">
							<b>Lorem</b> Ipsum has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has <a>survived</a> not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
						</p>
					</div>
					<div class="col-12 col-sm-6">
						<p class="view-text">
							<b>Lorem Ipsum</b> has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type <a>specimen</a> book. It has survived not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="subtitle">
			<h3 class="fancy"><span>My Recent Work</span></h3>
		</div>
</div>

<div class="portfolio-items">
	<div *ngFor="let item of portfolioItems" class="portfolio-item">
			<portfolio-item [properties]="item"></portfolio-item>
		</div>
	</div>
</div>
