.blog-view {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  padding: 1em;
}

.map {
	position: relative;
	width: 100%;
	height: 400px;
}

#map_div {
	height: inherit;
	width: inherit;
}

@media only screen and (max-width: 560px) {
    .map {
			height: 250px;
		}
}

.country-counter label {
	border-bottom: 1px solid orange;
	font-weight: bold;
}

.country-counter span {
	font-size: 20px;
	padding-left: 0.5em;
}