<div class="view blog-view">
	<div class="view-content">
		<p class="view-greeting">What's up, This is My</p>
		<h1 class="view-title">
			<p class="child">Travel</p>
			<p class="last-child">Journal</p>
		</h1>
		<p class="view-text">
			<b>Lorem Ipsum</b> has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
		</p>
		<div class="country-counter">
			<label>Countries visited:</label>
			<span>{{ count }}</span>
		</div>
		<div class="map">
			<div id="map_div"></div>
		</div>
	</div>
</div>
