.fs-nav-list {
  	list-style: none;
    padding: 0;
    display: inline-flex;
    margin: 0;
    border-top: 1px solid #ffb1447d;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fs-nav-list li {
	border-top: 1px solid transparent;
	/*padding: 1.5em;*/
	/*transition: 2s ease-out;*/
    transition: all 0.3s ease-out;
}

.fs-nav-list li > a {
	padding: 1.5em;
	display: block;
	text-decoration: none;
	color: inherit !important;
}

.fs-nav-list li:hover {
	border-top: 1px solid #fff;
}

.activated {
	border-top: 1px solid #fff7;
	background: #fff1;
}

.fs-nav h3 {
	position: absolute;
    display: inline-block;
    margin: 1.5em;
    font-weight: 100;
    font-size: 1.17em !important;
}

.fs-nav {
    z-index: 2;
	border-top: 1px solid #ddd2;
	position: fixed;
	bottom: 0;
	width: 100%;
    background: #020202;
}

.nav-contact-btn {
	position: absolute;
    top: 50%;
    right: 1.5em;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #fff5;
    box-shadow: none;
    padding: 0.5em 1.5em;
    color: #fff5;
}

.nav-links {
	position: absolute;
    right: 10em;
    top: 1.5em;
}

.nav-links i {
	font-size: 1.5em !important;
	margin-right: 0.5em;
	color: #fff5;
}

.nav-contact-btn-sm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    color: #fff5;
    background: transparent;
    border: none;
}

.additional-nav {
    width: 100%;
    position: absolute;
    bottom: 100%;
    background: #0e0e0ef7;
    padding: 0.5em;
    border-top: 1px solid #ddd2;
    border-left: 1px solid #ddd2;
}

.additional-nav .a-nav-contact-btn {
    background: transparent;
    border: 1px solid #fff5;
    box-shadow: none;
    padding: 0.5em 1.5em;
    color: #fff5;
    float: right;
}

.a-nav-contact-btn a {
    color: #fff7 !important;
    text-decoration: none !important;
}

.a-nav-contact-btn a:active {
    text-decoration: none !important;
}

.additional-nav > a {
    float: right;
    /* margin-left: 0.5em; */
    margin-right: 1em;
    font-size: 0.75em;
    position: relative;
    top: 0.7em;
    color: #ddd5;
}

.additional-nav .close-btn {
    float: left;
    background: transparent;
    border: none;
    color: #7d5922;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
}

.additional-nav small {
    margin-top: 1em;
    margin-right: 1.5em;
    color: #fff9;
}

.logo {
    position: absolute;
    height: 1.5em;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
}