<div class="fs-nav">
    <img class="logo" src="assets/images/logo/logo-white.png" />
    <ul class="fs-nav-list">
      <li><a routerLink="/home" [ngClass]="{'activated':routerState === '/home'}">
        <label class="d-none d-sm-block">Home</label>
        <i class="fas fa-home d-block d-sm-none"></i>
      </a></li>
      <li><a routerLink="/about" [ngClass]="{'activated':routerState === '/about'}">
        <label class="d-none d-sm-block">About</label>
        <i class="fas fa-user d-block d-sm-none"></i>
      </a></li>
      <li><a routerLink="/portfolio" [ngClass]="{'activated':routerState === '/portfolio'}">
        <label class="d-none d-sm-block">Portfolio</label>
        <i class="fas fa-folder d-block d-sm-none"></i>
      </a></li>
      <li><a routerLink="/blog" [ngClass]="{'activated':routerState === '/blog'}">
        <label class="d-none d-sm-block">Blog</label>
        <i class="fas fa-globe-asia d-block d-sm-none"></i>
      </a></li>
    </ul>
    <div class="nav-links d-none d-lg-block">
      <a href="https://github.com/henrivalimaa" target="_blank"><i class="fab fa-2x fa-github"></i></a>
      <a href="https://www.linkedin.com/in/henri-valimaa" target="_blank"><i class="fab fa-2x fa-linkedin-in"></i></a>
    </div>
    <button class="nav-contact-btn d-none d-md-block" (click)="showContactForm=true">Contact</button>
    <button class="d-block d-md-none nav-contact-btn-sm" (click)="showAdditionalNav=!showAdditionalNav"><i class="fas fa-ellipsis-v"></i></button>

    <div class="additional-nav d-block d-md-none" *ngIf="showAdditionalNav" [@navSlide]>
      <button class="a-nav-contact-btn"><a href="mailto:valimaa.henri@gmail.com">Contact</a></button>
      <button class="close-btn" (click)="showAdditionalNav=false"><i class="fas fa-caret-right"></i></button>
      <a href="https://www.linkedin.com/in/henri-valimaa" class="mr2" target="_blank"><i class="fab fa-2x fa-linkedin-in"></i></a>
      <a href="https://github.com/henrivalimaa" target="_blank"><i class="fab fa-2x fa-github"></i></a>
      <small class="right">See me in</small>
    </div>
</div>

<main [@fade]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
<contact-form [show]="showContactForm"></contact-form>