<!--<h1 class="title center" *ngIf="!viewInit" [@logoFade]>&#x3C;about/&#x3E;</h1>-->

<div class="center view about-view">
	<div class="view-content">
		<p class="view-greeting">Hi, I'M</p>
		<h1 class="view-title">
			<p class="child">HENRI</p>
			<p class="last-child">VÄLIMAA</p>
		</h1>
		<p class="bold">WEB DEVELOPER</p>
		<div>
			<div class="section about-section">
				<p class="view-text">
					<b>Lorem Ipsum</b> has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
				</p>
				<div class="container-fluid">
					<div class="row">
						<div class="view-text col-12 col-sm-6">
							<p>
								<b>Lorem Ipsum</b> has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
							</p>
						</div>
						<div class="view-text col-12 col-sm-6">
							<p>
								<b>Lorem Ipsum</b> has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="section skills-section">
				<div class="subtitle">
					<h3 class="fancy"><span>Toolbox</span></h3>
				</div>

				<p class="view-text">
					<b>Lorem Ipsum</b> has been the <a>industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into <a>electronic</a> typesetting, remaining essentially unchanged.
				</p>

				<div class="skill-set">
					<p class="bold mt2">Programming</p>

					<div *ngFor="let skill of skills.programming">
						<skill-level-indicator [level]=skill.level [label]=skill.label [description]=skill.description></skill-level-indicator>	
					</div>
				</div>

				<div class="skill-set">
					<p class="bold mt2">Environments</p>

					<div *ngFor="let skill of skills.environments">
						<skill-level-indicator [level]=skill.level [label]=skill.label [description]=skill.description></skill-level-indicator>	
					</div>
				</div>

				<div class="skill-set">
					<p class="bold mt2">Workflow</p>

					<div *ngFor="let skill of skills.workflow">
						<skill-level-indicator [level]=skill.level [label]=skill.label [description]=skill.description></skill-level-indicator>	
					</div>
				</div>

				<div class="mt2">
					<label class="label">Download :</label>
					<a class="resume-btn" href="assets/files/resume-henri-valimaa.pdf" download><i class="fas fa-download mr1"></i>Resume (.pdf)</a>
					<a class="resume-btn" href="assets/files/resume-henri-valimaa.pdf" download><i class="fas fa-download mr1"></i>Self-portrait (.jpg)</a>
				</div>

				<p class="view-text mt2">
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an <a>unknown</a> printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic <a>typesetting</a>, remaining essentially unchanged.
				</p>
			</div>

			<div class="section contact-section">
				<div class="subtitle">
					<h3 class="fancy"><span>Let's Talk</span></h3>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col social-media">
							<label class="label">I'm available at :</label>
							<i class="fab fa-2x fa-linkedin-in"></i>
							<i class="fab fa-2x fa-github"></i>
						</div>
						<div class="col pt05">
							<label class="label">Email :</label>
							<span class="email-address">valimaa.henri(at)gmail.com</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
