.about-view {
	padding: 1em;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) ), url(/assets/images/backgrounds/henrivalimaa-about.jpg);
  background-size: cover;
}

.name {
	font-family: 'Archivo Black', sans-serif;
  margin-bottom: 0;
  font-size: 50px;
}

.surname {
	margin-top: -0.3em;
	margin-bottom: 10px;
	border-bottom: 1px solid orange;
}

.greeting {
	font-family: 'Caveat', cursive;
  font-size: 30px;
  margin-bottom: 0;
  font-weight: bold;
}

.view-text {
	text-align: justify;
}

.view-text a {
	color: orange !important;
	text-decoration: underline !important;
}