<div class="portfolio-item text-center" [ngStyle]="{'background': properties.background.image, 'background-position': properties.background.position, 'background-size': properties.background.size }" (click)="displayProject(); slickModal.slickGoTo(properties.id - 1); mobileSlickModal.slickGoTo(properties.id)">
	<div class="item-content fs">
		<div class="item-text center">
			<div class="item-text-row">
				<small class="label">{{ properties.label }}</small>
				<h3>{{ properties.name }}</h3>
				<small class="short-description">{{ properties.shortDescription }}</small>
			</div>
		</div>
	</div>
</div>

<div class="project-container" [hidden]="showProject===false">
	<button class="close-project-btn" (click)="displayProject()"><i class="fas fa-times"></i></button>

	<div class="project-carousel">
		<div class="project-loader" *ngIf="loading===true" [@fadeOut]>
			<h3 class="center">Loading projects...</h3>
		</div>
		<button class="slick-control next d-none d-lg-block" (click)="slickModal.slickNext()"><i class="fas fa-chevron-right"></i></button>
		<button class="slick-control prev d-none d-lg-block" (click)="slickModal.slickPrev()"><i class="fas fa-chevron-left"></i></button>
		<button class="m-slick-control m-next d-block d-lg-none" (click)="mobileSlickModal.slickNext()"><i class="fas fa-chevron-right"></i></button>
		<button class="m-slick-control m-prev d-block d-lg-none" (click)="mobileSlickModal.slickPrev()"><i class="fas fa-chevron-left"></i></button>
		<ngx-slick-carousel class="carousel d-none d-lg-block" #slickModal="slick-carousel" (init)="slickInit($event)" [config]="slideConfig">
	      <div ngxSlickItem *ngFor="let project of projects" class="slide carousel-slide">
	        <div class="project-background" [ngStyle]="{'background': project.background.image, 'background-position': project.background.position, 'background-size': project.background.size }">
							<div class="project-title">
								<small>{{ project.label }}</small>
								<h3>{{ project.name }}</h3>
								<small class="short-description">{{ project.shortDescription }}</small>
							</div>
					</div>
					<div class="project-description">
						<div class="project-description-text">
							{{ project.description }}
							<a 
								*ngIf="project.informationLink" 
								href="{{ project.informationLink }}" 
								target="_blank"
								style="display: block;">More at {{ project.informationLink }}</a>
						</div>
						<div class="mt2">
							<label class="label">Responsibilities: </label>
							<span *ngFor="let position of project.positions; let isLast=last">{{ position }}{{isLast ? '' : ', '}}</span>
						</div>
						<div class="mt2">
							<span *ngFor="let skill of project.skills" class="tag">{{ skill }}</span>
						</div>
					</div>
					<div class="project-web-info">
						<div class="subtitle">
							<h3 class="fancy"><span>Available on</span></h3>
						</div>
						<ul class="web-list">
							<li>
								<i class="fab fa-github"></i>
								<a *ngIf="project.web.repository.link !== ''" href="{{ project.web.repository.link }}" target="_blank">{{ project.web.repository.label }}</a>
								<span *ngIf="project.web.repository.link === ''" class="disabled">Not available</span>
							</li>
							<li><i class="fas fa-globe-asia"></i><a href="{{ project.web.link }}" target="_blank">{{ project.web.link }}</a></li>
						</ul>
					</div>
	      </div>
	  </ngx-slick-carousel>
	  <ngx-slick-carousel class="carousel d-block d-lg-none" #mobileSlickModal="slick-carousel" (init)="slickInit($event)" [config]="mobileSlideConfig">
	      <div ngxSlickItem *ngFor="let project of projects" class="slide m-carousel-slide">
	        <div class="project-background" [ngStyle]="{'background': project.background.image, 'background-position': project.background.position, 'background-size': project.background.size }">
							<div class="project-title">
								<small>{{ project.label }}</small>
								<h3>{{ project.name }}</h3>
								<small class="short-description">{{ project.shortDescription }}</small>
							</div>
					</div>
					<div class="pre-scrollable project-description">
						<div>{{ project.description }}</div>
						<div class="mt2">
							<label class="label">Responsibilities: </label>
							<span *ngFor="let position of project.positions; let isLast=last">{{ position }}{{isLast ? '' : ', '}}</span>
						</div>
						<div class="mt2">
							<span *ngFor="let skill of project.skills" class="tag">{{ skill }}</span>
						</div>
					</div>
					<div class="project-web-info">
						<div class="subtitle">
							<h3 class="fancy"><span>Available on</span></h3>
						</div>
						<ul class="web-list">
							<li><i class="fab fa-github"></i><a href="">https://github.com</a></li>
							<li><i class="fas fa-globe-asia"></i><a href="">henrivalimaa.com/escape-room</a></li>
						</ul>
						<button (click)="displayProject()" class="close-btn">Close</button>
					</div>
	      </div>
	  </ngx-slick-carousel>
	</div>
</div>

