.portfolio-item small {
	display: block;
}

.portfolio-item {
    position: relative;
    min-height: 14em;
    background: #0008;
    background-size: cover;
    background-position: top center;
    transition: all 0.3s ease;
}

.portfolio-item .label {
	margin-bottom: 0.5em;
	color: #fff8;
}

.portfolio-item .short-description {
	color: orange;
}

.portfolio-view-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.fs {
	position: absolute;
	height: 100%;
	width: 100%;
}

.item-content {
	transition: all 0.3s ease;
}

.item-text {
	transition: all 0.2s ease;
}

.item-text-row {
	transition: all 0.3s ease;
}

.portfolio-item:hover {
	cursor: pointer;
}

.portfolio-item:hover .item-content {
	border: 10px solid #fff3;
}

.portfolio-item:hover .item-text-row {
	transform: scale(0.8, 0.8);
}

@media only screen and (min-width: 680px) {
    .portfolio-item {
      min-height: 20em;
    }
}

.project-container {
  position: fixed;
  background-color: #0c0c0c;
  height: 5em;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.close-project-btn {
	position: absolute;
	right: 1em;
	top: 1em;
	background: transparent;
	border: none;
	color: #ddd6;
}

.project-background {
	background-size: contain;
	height: 25%;
}

.project-title {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.project-title h3 {
  margin: 3px 0;
}

.project-title .short-description {
  color: orange;
}

.project-web-info {
	padding: 1em;
	padding-top: 0;
	height: 25%;
}

.project-description {
	padding: 1em;
	max-height: 50%;
}

.project-description a {
	color: orange !important;
}

.web-list {
	list-style: none;
	padding: 0;
}

.web-list a {
	color: orange !important;
	margin-left: 1em;
}

.close-btn {
	background-color: orange;
  width: 100%;
  border: orange;
  padding: 0.5em 0.5em;
  margin-top: 1em;
}

