.portfolio-item small {
	display: block;
}

.portfolio-item {
		position: relative;
		min-height: 14em;
		background: #0008;
		background-size: cover;
		background-position: top center;
		transition: all 0.3s ease;
}

.portfolio-item .label {
	margin-bottom: 0.5em;
	color: #fff8;
}

.portfolio-item .short-description {
	color: orange;
}

.portfolio-view-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.fs {
	position: absolute;
	height: 100%;
	width: 100%;
}

.item-content {
	transition: all 0.3s ease;
}

.item-text {
	transition: all 0.2s ease;
}

.item-text-row {
	transition: all 0.3s ease;
}

.portfolio-item:hover {
	cursor: pointer;
}

.portfolio-item:hover .item-content {
	border: 15px solid #fff3;
}

.portfolio-item:hover .item-text-row {
	transform: scale(0.8, 0.8);
}

@media only screen and (min-width: 680px) {
		.portfolio-item {
			min-height: 20em;
		}
}

.project-container {
	position: fixed;
	background-color: #0c0c0c;
	height: 5em;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	transition: all 0.5s ease;
}

.close-project-btn {
	position: absolute;
	right: 1.25em;
	top: 1.25em;
	background: transparent;
	border: none;
	color: #ddd6;
}

.project-background {
	background-size: contain;
	height: 20%;
}

.project-title {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.project-title h3 {
	margin: 3px 0;
}

.project-title .short-description {
	color: orange;
}

.project-web-info {
	padding: 1em;
	padding-top: 0;
	height: 35%;
}

.project-description {
	padding: 1em;
	max-height: 45%;
	height: 45%;
}

.project-description a {
	color: orange !important;
}

.web-list {
	list-style: none;
	padding: 0;
}

.web-list a {
	color: orange !important;
	margin-left: 1em;
}

.close-btn {
	background-color: rgb(241, 214, 0);
	width: 100%;
	border: orange;
	padding: 0.5em 0.5em;
	margin-top: 1em;
}

@media only screen and (max-height: 800px) {
		.close-btn {
			margin: 0;
		}
}


@media only screen and (max-height: 700px) {
		.project-background {
			max-height: 20%;
		}

		.project-description {
			max-height: 42.5%;
		}

		.project-web-info {
			height: 30%;
		}
}

@media only screen and (max-height: 600px) {
		.project-background {
			max-height: 20%;
		}

		.project-description {
			max-height: 35%;
		}

		.project-web-info {
			height: 30%;
		}
}

@media only screen and (max-height: 600px) {
		.m-slick-control {
			visibility: hidden;
		}
}

.project-carousel {
	height: 100%;
	margin-top: 4em;
}

.carousel-slide .project-description {
	overflow: hidden;
}

.project-carousel .project-web-info .fancy {
	font-size: 30px;
}

.slick-control {
	position: absolute;
	top: 4em;
	height: 100%;
	width: 26%;
	z-index: 1000;
	border: none;
}

.slick-control i {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #ffd52c30;
	font-size: 40px;
}

.m-slick-control {
	position: absolute;
	top: 1em;
	z-index: 1000;
	border: none;
	background-color: transparent;
}

.m-slick-control i {
	color: #ffd52c30;
	font-size: 30px;
}

.m-prev {
	left: 4em;
}

.m-next {
	right: 4em;
}

.prev {
	left: 0;
	background: linear-gradient(to left, transparent, #0c0c0c);
}

.next {
	right: 0;
	background: linear-gradient(to right, transparent, #0c0c0c);
}

.prev i {
	left: 1.5em;
}

.next i {
	right: 1.5em;
}

.project-loader {
	position: absolute;
	z-index: 100;
	background: #0c0c0c;
	height: 100%;
	width: 100%;
	top: 3.8em;
	color: #fff5;
	text-align: center;
}

.project-loader h3 {
	width: 100%;
}