<div class="portfolio-item text-center" [ngStyle]="{'background': properties.background.image, 'background-position': properties.background.position, 'background-size': properties.background.size }">
	<div class="item-content fs">
		<div class="item-text center">
			<div class="item-text-row">
				<small class="label">{{ properties.label }}</small>
				<h3>{{ properties.name }}</h3>
				<small class="short-description">{{ properties.shortDescription }}</small>
			</div>
		</div>
	</div>
</div>

